#Python basic Astronomy

In [ ]:
#My First code in python
print("Hello World")

Hello World

In [ ]:
x=4
y=5
print(x+x+y+x+y)

22

In [ ]:
#create name planet
planet_name= "Venus"

In [ ]:
print(planet_name)

Venus

F"Strings

In [ ]:
user_fav_number = "6"
print(user_fav_number)

6

In [ ]:
print(type(user_fav_number))

<class 'str'>

In [ ]:
str_to_int= int(user_fav_number)
print(str_to_int)
print(type(str_to_int))

str_to_float= float(user_fav_number)
print(str_to_float)
print(type(str_to_float))

6
<class 'int'>
6.0
<class 'float'>

In [ ]:
n1= int(input("Masukkan Int pertama: "))
n2 =int(input("Masukkan Int Kedua: "))
print (f"Jumlah dari {n1} dan {n2} adalah {n1+n2}")

Masukkan Int pertama: 6
Masukkan Int Kedua: 4
Jumlah dari 6 dan 4 adalah 10

Control Flow

In [ ]:
# Range (start, end, skip)
range(-5,20)

range(-5, 20)

In [ ]:
#For loop
for index in range (1, 10, 2):
    print(index)

1
3
5
7
9

In [ ]:
#while loop
ct = 0
while True:
    obj = input(f"Masukkan objek favorit {ct+1}:-")
    ct =+ 1 #ct = ct+2
    if obj.lower() == "quit":
       break

Masukkan objek favorit 1:-Bumi
Masukkan objek favorit 2:-Hutan
Masukkan objek favorit 2:-Quit

Function

In [ ]:
#creating a function to greet viewers of this video without arguments
def greet():
   print("Hey Astropholes!")

In [ ]:
#fungsi
greet()

Hey Astropholes!

In [ ]:
#menemukan fungsi di atas
def greet_person(name):
    print (f"Hey {name}, I hope you are Enjoying this season and learning alot of python!")

In [ ]:
#call that function
greet_person("Rohan")

Hey Rohan, I hope you are Enjoying this season and learning alot of python!

In [ ]:
#postional arguments, keyword argument
def greeting(name,msg):
   print (f"Hey {name}, {msg}!")

In [ ]:
#call this function by placing
greeting("Lavanya", "Are you an asptrophile")

Hey Lavanya, Are you an asptrophile!

In [ ]:
#call this function by placing
greeting("Are you an asptrophile?", "Lavanya")

Hey Are you an asptrophile?, Lavanya!

In [ ]:
greeting(msg="Are you an asptrophile?",name=  "Lavanya")

Hey Lavanya, Are you an asptrophile?!

In [46]:
#default arguments
def greeting_with_default_args(name, msg ='Welcome to this programs an Astronomy Visualization!'):
  print(f'Hey {name}, {msg}')

In [56]:
greeting_with_default_args('Rohan', {msg} )

NameError: name 'msg' is not defined

In [58]:
#create a function witl will eithe add, substract, multiply or input numbers
def basic_calc(n1, n2, operation):
  """
  Create a basic calculator thar takes n1 dan n2 in the same order and permorms either of:-
  -add
  -substract
  -multiply
  -devide

  P
  """


  if operation.lower()=="add":
    return n1+n2
  elif operation.lower()== "substract":
    return n1-n2
  elif operation.lower()== "multiply":
    return n1*n2
  elif operation.lower()== "devide":
    return n1/n2
  else:
    print(f"operation input can either take: - add, multiply, subtract or devide. You Gave:- {operation}. try again")

In [60]:
addition= basic_calc(2, 3, "add")
print (addition)

5

In [61]:
multiply= basic_calc(3, 3, "multiply")
print (multiply)

9